page-view-profile3 {
    ion-avatar img  {
        width:100% !important;
        height : 100% !important;
        max-width: 150px !important;  //any size
        max-height: 150px !important; //any size
        }
}
