<ion-header>
    <ion-navbar>
        <ion-title>
            View Work From Home Requests
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="back">
    <h1 style="color: silver">Previous Work From Home Requests:</h1>
    <ion-list *ngFor="let request of requests">
        <ion-item class="List">
            <ion-thumbnail *ngIf="request.Status =='Pending'" item-start item>
                <img src="assets/imgs/Pending.png">
            </ion-thumbnail>
            <ion-thumbnail *ngIf="request.Status =='Accepted'" item-start item>
                <img src="assets/imgs/Accepted.png">
            </ion-thumbnail>
            <ion-thumbnail *ngIf="request.Status =='Rejected'" item-start item>
                <img src="assets/imgs/Rejected.png">
            </ion-thumbnail>
            <p style="color: silver">{{request.Type}}</p>
            <p style="color: silver">{{request.Date}}</p>
            <p style="color: silver">{{request.Reviewerusername}}</p>
            <button ion-button clear item-end style="color: orange"(click)="ViewDetails(request.Id)">View Request</button>
        </ion-item>
    </ion-list>
</ion-content>