page-LeaveTracker{
    .back {
        background-image: url('../assets/imgs/b1.png');
    } 
    .list{
        background-color: transparent;
        border-top: transparent;
    }
    .text{
        height: 50%;
    }
    .myChart{
        color: rgb(255, 255, 255);
        
    }
}