page-apply-leave {
    .datefrom{
      display: inline-block!important;
      width: 49%;
    }
    .dateto{
        display: inline-block!important;
      width: 49%;
    }
    input {
        border-style:none;
       
    }
    .fromlabel{
        width: 50%;
       color: #d1d1d1;
    }
    .date-input{
        width: 50%;
    }
    .day{
        width: 30%;
        display: inline-block;
    }
    .back {
        background-image: url('../assets/imgs/b1.png');
    } 
}
 
