<ion-header>
  <ion-navbar>
    <ion-title>
      View Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="back" padding id="page2">
  <ion-list id="viewProfile-list5" >
    <ion-item class="i1" id="viewProfile-list-item2" no-border>
      <div  no-border align = "center">
      <ion-avatar item-center no-border>
        <img  [style.border]="'3px solid' + white" src="assets/imgs/profile.png" (click) = "UploadImage()">
      </ion-avatar>
    </div>
    </ion-item>
    <h2 align = "center"  no-border style="color: rgb(101, 101, 150)">
      {{infos.name}}
    </h2>
    <h5 id="viewProfile-heading3" style="color:white;text-align:center;">
      {{infos.mobile}}
    </h5>
    <h6 align = "center" no-border style="color: white">
     {{userName}}
    </h6>
    
    <h5 id="viewProfile-heading3" style="color:green;text-align:center;">
      {{infos.jobTitle}}
    </h5>
   
  </ion-list>
  

<div style="background-color: rgba(12, 119, 165, 0.226); border: 2px solid blueviolet">
  <button ion-button (click)="GoToSkills()" style="background-color: transparent; border-bottom: 1px solid blueviolet;" block >Skills</button> 
  <button ion-button (click)="GoToWorkExperience()" style="background-color: transparent; border-bottom: 1px solid blueviolet;" block>Work Experience</button>
  <button ion-button (click)="GoToEducation()" style="background-color: transparent; border-bottom: 1px solid blueviolet;" block>Education</button>
  <button ion-button (click)="GoToLanguage()" style="background-color: transparent; border-bottom: 1px solid blueviolet;" block>Language</button>
  <button ion-button (click)="GoToAttachmets()" style="background-color: transparent;" block>Attachments</button>
</div>
<br/>
<br/><br/>
<button id="coti" *ngIf="IsOwner&&!IsSameuser" ion-button class="continue"  block round (click)="MakeAdmin()" >Make Admin</button>
<button id="coti" *ngIf="IsOwner&&!IsSameuser" ion-button class="continue"  block round (click)="RemoveAdmin()" >Remove Admin</button>
<button id="coti" *ngIf="(IsHr || IsAdmin)&&!IsSameuser" ion-button class="continue"  block round (click)="RemoveEmployee()"  >Remove User</button>

</ion-content>