page-create-profile6 {
    .back {
        background-color:transparent;
        background-image: url('../assets/imgs/b1.png');}
        .continue{
            background: rgba(10, 130, 241, 0.171);  
        }
}