<ion-header>
    <ion-navbar>
        <ion-title>
            Request Information
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="back">
    <ion-card style="background-color: transparent">

        <ion-card-content>
            <ion-list *ngFor="let request of requests">
                <h4 class="Headers">Request-Date :{{request.Date}}</h4>
                <br>
                <br>
                <div *ngIf='requests.length > 0 && (requests[0].name !="Receipt") && (requests[0].name !="Fund")' >
                <h4 class="Headers" ><span item-left> From : {{request.FromDate}} </span> <br><br> <span item-right>To : {{request.ToDate}} </span> </h4>
                </div>
                <div *ngIf='requests.length > 0 &&( (requests[0].name =="Receipt") || (requests[0].name == "Fund") )' >
                    <h4 class="Headers"><span item-left> Amount : {{request.amount}} , Currency:  {{request.currency}} </span> <br><br></h4>
                </div>
                <br>
                <br>
                <h4 class="Headers">Request-Status :{{request.Status}}</h4>
                <br>
                <br>
                <h1 class="Headers">EmployeeName :{{request.Employeeusername}}</h1>
                <br>
                <br>
                <h1 class="Headers">ReviewerName :{{request.Reviewerusername}}</h1>
                <br>
                <br>
                <h2 class="Headers">Comment :{{request.Comment}}</h2>
                <br>
                <br>
                <h3 class="Headers">Request Type :{{request.name}}</h3>
                <br>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-grid *ngIf='requests.length > 0 && (requests[0].Status =="Pending") && (IsManager || IsOwner || IsAdmin) && Flag '>
        <ion-row>
                <ion-item style="background-color:transparent;">
                        <ion-input type="text"  placeholder="Reason if rejected" style=" color:white"[(ngModel)]="comment" [ngModelOptions]="{standalone: true}">  </ion-input>
                    </ion-item>
        </ion-row>
        <ion-row  >
            <ion-col width-50>
                <button  style="width:100%; color: silver;background-color: transparent; border: orange 1px solid ;" outline ion-button (click)="AcceptRequest()">Accept</button>
            </ion-col>
            <ion-col width-50>
                <button style="width:100%; color: silver;background-color: transparent; border: orange 1px solid ;" outline ion-button (click)="RejectRequest()">Reject</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>