page-welcome {
    
        .Fn{
            background-color: rgb(238, 238, 238);
            color: black;
            // border-style: solid;
            // border-color: black;
            border: 1px solid rgb(153, 153, 153);
            text-align: left;
            
        }
        .Fn1{
            margin-left: -50px;
        }
        
}
