page-welcome {
    
    .Fn{
            background-color: transparent;
            color: rgb(165, 165, 165);

            border: 1px solid rgb(153, 153, 153);
            text-align: start;
            
            
    }
    .back {
            background-color:transparent;
            background-image: url('../assets/imgs/b1.png');
    }
    .img{
        display: block;
        margin-left: -25%;
        margin-right: 10%;
             
   }
   .img1{
        
        background-color: transparent;
        display: block;
        margin: auto;
        margin-left: -10%;
        margin-right: 7%;
   }

        
}
