page-welcome {
    
        .Fn{
            background-color: transparent;
            color: rgb(165, 165, 165);
            // border-style: solid;
            // border-color: black;
            border: 1px solid rgb(153, 153, 153);
            text-align: start;
            
            
        }
           .back {
            background-color:transparent;
            background-image: url('../assets/imgs/b1.png');
    }
        .Fn1{
            margin-left: -50px;
        }
        .img{
            display: block;
            margin-left: -5em;
            margin-right: 3em;
             
       }
       .img1{
        display: block;
        margin-left: -1em;
        margin-right: 3em;
       }
        
}
